<!DOCTYPE html>
<html dir="ltr" lang="hr">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <style>
      body {
        background-color: rgb(18, 18, 18);
      }
    </style>


    <meta name="robots" content="noindex">


    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:wght@300;400;500&family=Fira+Sans:wght@300;400;500&display=swap"
          rel="stylesheet"/>
    

    <title>{{ title }}</title>

    <script defer src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>


    <script src="/nav.js" defer></script>
  </head>

  <body>

    {% include 'header.njk' %}

    {{ content | safe }}

    {% include 'footer.njk' %}

    <script>
      if (window.netlifyIdentity) {
        window.netlifyIdentity.on("init", user => {
          if (!user) {
            window.netlifyIdentity.on("login", () => {
              document.location.href = "/admin/";
            });
          }
        });
      }
    </script>

  </body>
<html>