
<footer
  id="footer-section"
  class="footer-section section"
  aria-label="Informacije i korisni linkovi"
>
  <div class="max-width-wrapper">
    <div class="footer-section-content">
      <div class="footer-informations">
        <h2 class="footer-h fs-500">Informacije</h2>
        <ul class="footer-list" role="list">
          <li class="footer-list-item"><p>Šah klub Končar</p></li>
          <li class="footer-list-item">
            <p>Fallerovo šetalište 22, 10000 Zagreb</p>
          </li>
          <li class="footer-list-item">
            <a href="mailto:sah.klub@koncar.hr" class="footer-list-item-a"
              >sah.klub@koncar.hr</a
            >
          </li>
          <li class="footer-list-item"><p>Reg. br. 21001057</p></li>
          <li class="footer-list-item"><p>OIB: 17776411638</p></li>
          <li class="footer-list-item">
            <p>IBAN: HR7825030071110002495</p>
          </li>
        </ul>
      </div>
      <div class="footer-links">
        <ul class="footer-list" role="list">
          <h2 class="footer-h fs-500">Brzi linkovi</h2>
          <li class="footer-list-item">
            <a href="#" class="footer-list-item-a">Naslovnica</a>
          </li>
          <li class="footer-list-item">
            <a href="#" class="footer-list-item-a">O nama</a>
          </li>
          <li class="footer-list-item">
            <a href="#" class="footer-list-item-a">Treninzi za mlade</a>
          </li>
          <li class="footer-list-item">
            <a href="#" class="footer-list-item-a">Treninzi za odrasle</a>
          </li>
          <li class="footer-list-item">
            <a href="#" class="footer-list-item-a">Blog</a>
          </li>
          <li class="footer-list-item">
            <a href="#" class="footer-list-item-a">Kontakt</a>
          </li>
          <li class="footer-list-item">
            <a href="#" class="footer-list-item-a">Sponzori</a>
          </li>
        </ul>
      </div>
      <div class="footer-media">
        <h2 class="footer-h fs-500">Društvene mreže</h2>
        <div class="media-container">
          <a href="#" class="media-items">
            <img src="/img/jerwwjwqj.png" width="50" height="50" alt="" />
          </a>
          <a href="#" class="media-items">
            <img src="/img/juwerhuew.png" width="50" height="50" alt="" />
          </a>
        </div>
      </div>
    </div>
    <hr />
    <div class="footer-legal">&copy; 2022 | Šah klub Končar</div>
  </div>
</footer>