:root {
  /*font size */
  --fs-900: 9.375rem;
  --fs-800: 5.25rem;
  --fs-700: 3.5rem;
  --fs-600: 2rem;
  --fs-500: 1.5rem;
  --fs-400: 1.125rem;
  --fs-300: 1rem;
  --fs-200: 0.875rem;

  /* font family */
  --ff-sans: "Fira Sans", sans-serif;
  --ff-sans-cond: "Fira Sans Condensed", sans-serif;

  /* colors */
  --bg: rgb(18, 18, 18);
  --element: rgb(46, 46, 46);
  --accent: rgb(0, 130, 202);
  --accentcompl: rgb(178, 217, 240);
  --normaltext: rgb(200, 200, 200);
  --emphtext: rgb(220, 220, 220);
  --strongtext: rgb(240, 240, 240);
}

@media (max-width: 32em) {
  :root {
    --fs-800: 4.5rem;
  }
}

/* RESET */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd,
picture {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: 400;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  font-family: var(--ff-sans-cond);
  font-size: var(--fs-400);
  min-height: 100vh;
  background-color: var(--bg);
  display: flex;
  flex-direction: column;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  overflow-x: hidden;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* RESET */

/* UTILITY */

.flex {
  display: flex;
  gap: var(--gap, 1rem);
}

.grid {
  display: grid;
  gap: var(--gap, 1rem);
}

.container {
  padding-inline: 2em;
  margin-inline: auto;
  max-width: 80rem;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.bg-100 {
  background-color: rgb(0, 130, 202);
}
.bg-90 {
  background-color: rgb(26, 143, 207);
}
.bg-80 {
  background-color: rgb(52, 156, 214);
}
.bg-70 {
  background-color: rgb(77, 166, 217);
}
.bg-60 {
  background-color: rgb(102, 181, 222);
}
.bg-50 {
  background-color: rgb(128, 191, 227);
}
.bg-40 {
  background-color: rgb(153, 204, 235);
}
.bg-30 {
  background-color: rgb(178, 217, 240);
}
.bg-20 {
  background-color: rgb(204, 229, 245);
}
.bg-10 {
  background-color: rgb(229, 242, 250);
}

.text-100 {
  color: rgb(0, 130, 202);
}
.text-90 {
  color: rgb(26, 143, 207);
}
.text-80 {
  color: rgb(52, 156, 214);
}
.text-70 {
  color: rgb(77, 166, 217);
}
.text-60 {
  color: rgb(102, 181, 222);
}
.text-50 {
  color: rgb(128, 191, 227);
}
.text-40 {
  color: rgb(153, 204, 235);
}
.text-30 {
  color: rgb(178, 217, 240);
}
.text-20 {
  color: rgb(204, 229, 245);
}
.text-10 {
  color: rgb(229, 242, 250);
}
*/

/* UTILITY */

/* TYPOGRAPHY */

.ff-sans {
  font-family: var(--ff-sans);
}
.ff-sans-cond {
  font-family: var(--ff-sans-cond);
}

.letter-spacing-1 {
  letter-spacing: 4.75px;
}
.letter-spacing-2 {
  letter-spacing: 2.7px;
}
.letter-spacing-3 {
  letter-spacing: 2.35px;
}

.uppercase {
  text-transform: uppercase;
}

.lowercase {
  text-transform: lowercase;
}

.max-width-50ch {
  max-width: 50ch;
}
.max-width-60ch {
  max-width: 60ch;
}
.max-width-70ch {
  max-width: 70ch;
}

.fs-900 {
  font-size: var(--fs-900);
}
.fs-800 {
  font-size: var(--fs-800);
}
.fs-700 {
  font-size: var(--fs-700);
}
.fs-600 {
  font-size: var(--fs-600);
}
.fs-500 {
  font-size: var(--fs-500);
}
.fs-400 {
  font-size: var(--fs-400);
}
.fs-300 {
  font-size: var(--fs-300);
}
.fs-200 {
  font-size: var(--fs-200);
}

.fs-900,
.fs-800,
.fs-700,
.fs-600 {
  line-height: 1.1;
}

.text-emphasize {
  color: var(--accent);
  text-transform: uppercase;
  font-family: var(--ff-sans);
  font-weight: 600;
}

/* vertical scrollbar */

body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-track {
  background-color: var(--accent);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--accentcompl);
  border: 1px solid var(--accent);
}

/* Firefox */

* {
  scrollbar-color: var(--accentcompl) var(--accent);
  scrollbar-width: thin;
}

/* sticks footer to the bottom of the screen */
html {
  height: 100%;
}

body {
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

/* Primary header + navigation */

/* link for accesibility that skips to main content */

.skip-nav-link {
  position: absolute;
  left: 20%;
  color: black;
  background-color: var(--emphtext);
  padding: 1rem;
  border-radius: 0.25rem;
  transform: translateY(-125%);
  transition: transform 250ms ease-in;
}

.skip-nav-link:focus {
  transform: translateY(0%);
}

/* centers header */

@media (min-width: 89.9em) {
  .header-max-width-wrapper {
    width: 90rem;
    margin: auto;
  }
  .header-center {
    width: 100%;
    background-color: black;
  }
}

@media (min-width: 89.9rem) {
  .section {
    display: flex;
    justify-content: center;
  }
  .max-width-wrapper {
    width: 90rem;
  }
}

.logo {
  margin-left: 1rem;
}

.logo-svg {
  fill: var(--accent);
}

.primary-header {
  align-items: center;
  justify-content: space-between;
  background-color: black;
}

/* disables dropdown for small screens */
@media (max-width: 48rem) {
  .dropdown {
    display: none;
  }
}

.mobile-nav-toggle {
  display: none;
}

.primary-navigation {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav li a {
  text-decoration: none;
  color: var(--accent);
}

@media (max-width: 48em) {
  .primary-navigation {
    --gap: 1em;
    position: fixed; /*helps with scrolling */
    z-index: 1000;
    inset: 0 0 0 30%;
    flex-direction: column;
    padding: min(20vh, 7rem) 2em;
    background-color: black;
    transform: translateX(100%);
    transition: transform 350ms ease-out;
  }

  .primary-navigation[data-visible="true"] {
    transform: translateX(0%);
  }

  .mobile-nav-toggle {
    display: block;
    position: absolute;
    z-index: 9999;
    width: 2.5rem;
    aspect-ratio: 1;
    top: 2rem;
    right: 2rem;
    border: none;
    background-color: transparent;
    background-image: url("../img/list-blue.svg");
    background-repeat: no-repeat;
    background-size: contain;
  }

  .mobile-nav-toggle[aria-expanded="true"] {
    background-image: url("../img/x-lg-blue.svg");
    background-repeat: no-repeat;
    background-size: contain;
  }
}

@media (min-width: 48em) {
  .primary-navigation {
    margin-right: 2rem;
    --gap: 2rem;
  }
  /* dropdown for big screens */
  /* disables links only available on small screens */
  .small-screen-only {
    display: none;
  }
  .dropdown-button {
    padding: 0;
    padding-right: 1.25rem;
    color: var(--accent);
    border: none;
    background: none;
    background-image: url(/img/dropdown.svg);
    background-repeat: no-repeat;
    background-position: 87px 1px;
  }

  .dropdown-navigation {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    margin-top: -2rem;
    margin-left: -1rem;
    min-width: 13.5rem;
    padding: 2rem;
    background-color: black;
    top: 87px;
  }

  .dropdown-content a {
    display: block;
    padding-top: 1rem;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }
}

/*hero section */

.hero-section {
  max-width: 90rem;
  width: 100%;
  background-color: black;
  background-image: url(../img/hero-background.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  overflow: hidden;
  margin-inline: auto;
}

/* center content on big screen */

@media (min-width: 89.9rem) {
  .section {
    display: flex;
    justify-content: center;
  }
  .max-width-wrapper {
    width: 90rem;
  }
  .hero-bg-wrapper {
    width: 100%;
    background-color: black;
  }
}

.hero-content-wrapper {
  display: grid;
  place-content: center;
}

/* vertical big screen */

@media (max-height: 70rem) {
  .hero-section {
    min-height: 100vh;
  }
  .hero-content-wrapper {
    min-height: 100vh;
  }
}

@media (min-height: 70rem) {
  .hero-section {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}

.hero-section-content {
  color: var(--strongtext);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 1rem;
  gap: 2rem;
}

h1,
.hero-section-content p {
  text-shadow: 0.125rem 0.125rem black;
}

.hero-section-content p {
  margin-bottom: 0.625rem;
}

.main-button {
  display: inline-block;
  max-width: fit-content;
  z-index: 1;
  padding: 0.625rem 1.25rem;
  position: relative;
  text-decoration: none;
  font-size: var(--fs-500);
  font-family: var(--ff-sans-cond);
  color: black;
}

.main-button:before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  inset: 0;
  background: linear-gradient(135deg, var(--accent), var(--accentcompl));
}

.main-button:after {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  inset: 0;
  border: solid 2px white;
}

@media (min-width: 64em) {
  .hero-content-wrapper {
    place-content: center left;
  }
  .main-button:hover:before,
  .main-button:active:before {
    transform: translate(0);
  }

  .main-button:before {
    transform: translate(-0.375rem, -0.375rem);
    transition: all 0.2s ease-in-out;
  }
}

/* club activities section */

.club-activities-section {
  background-color: var(--bg);
  color: var(--normaltext);
  padding-block: 1rem;
  margin-bottom: -2px;
}

.club-activities-section h2 {
  color: var(--emphtext);
}

main a:not(.main-button, .article-title-a, .footer-list-item-a, .media-items) {
  text-decoration: none;
  font-weight: 500;
  color: inherit;
  border-bottom: 2px solid;
}

.club-activities-section-content {
  width: 100%;
  display: grid;
  gap: 2rem;
  text-align: center;
  place-content: center;
  padding: 2rem;
}

.club-schedule-content {
  width: 100%;
  display: grid;
  gap: 2rem;
  text-align: center;
  place-content: center;
  padding: 1rem 1rem 0rem 1rem;
}

.schedule-list {
  text-align: left;
}

/* members section */

.members-section {
  width: 100%;
  background-color: var(--bg);
  color: var(--accent);
  padding-top: 1rem;
  padding-bottom: 2rem;
  margin-bottom: -2px;
}

.members-section h2 {
  text-align: center;
  padding: 1rem 1rem 0 1rem;
  color: var(--emphtext);
}

.members-section-content {
  width: 100%;
  display: grid;
  place-content: center;
  gap: 3rem;
  text-align: center;
  margin-top: 2rem;
}

@media (min-width: 32rem) {
  .members-section-content {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 50rem) {
  .members-section-content {
    grid-template-columns: repeat(4, 1fr);
  }
}

/* testimonials section */

.testimonials-section {
  width: 100%;
  background-color: var(--bg);
  padding-block: 2rem;
  margin-bottom: -2px;
  color: var(--normaltext);
}

.testimonials-section h2 {
  text-align: center;
  color: var(--emphtext);
}

.testimonials-section-content {
  width: 100%;
  display: grid;
  place-items: center;
  gap: 1rem;
  padding-inline: 1rem;
}

.testimonials-container {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 85%;
  gap: 1rem;
  overflow-x: auto;
  width: 100%;
  position: relative;
  padding-top: 3rem;
}

@media (min-width: 35rem) {
  .testimonials-container {
    grid-auto-columns: 75%;
  }
}
@media (min-width: 50rem) {
  .testimonials-container {
    grid-auto-columns: 65%;
  }
}
@media (min-width: 64rem) {
  .testimonials-container {
    grid-auto-columns: 55%;
  }
}
@media (min-width: 80rem) {
  .testimonials-container {
    grid-auto-columns: 40%;
  }
}

/* vertical scrollbar */

.testimonials-container::-webkit-scrollbar {
  height: 1.5rem;
}

.testimonials-container::-webkit-scrollbar-track {
  background-color: var(--accent);
  border-radius: 100vh;
  scroll-padding-left: 2rem;
  margin-inline: 0.5rem;
  padding-inline: 1rem;
}

.testimonials-container::-webkit-scrollbar-thumb {
  background-color: var(--accentcompl);
  border: 4px solid var(--accent);
  border-radius: 100vh;
}

/* Firefox support */
.testimonials-container {
  scrollbar-color: var(--accentcompl) var(--accent);
  scrollbar-width: auto;
}

::-webkit-scrollbar-button:single-button:horizontal:decrement {
  background-image: url("data:image/svg+xml,%3Csvg id='ebjHJxD4pd11' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 490 490' shape-rendering='geometricPrecision' text-rendering='geometricPrecision'%3E%3Cpolygon points='249.89,490 8.139,245 249.89,0 481.86,0 239.71,245 481.86,490' fill='%23fff'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center 3px;
}

::-webkit-scrollbar-button:single-button:horizontal:increment {
  background-image: url("data:image/svg+xml,%3Csvg id='e7KIDtenYk61' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 490 490' shape-rendering='geometricPrecision' text-rendering='geometricPrecision'%3E%3Cpolygon points='240.11,0 481.86,245 240.11,490 8.139,490 250.29,245 8.139,0' fill='%23fff'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center 3px;
}

.testimonial {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  text-align: center;
  border-radius: 1rem;
  margin-bottom: 2rem;
  background-color: var(--element);
  padding: 0.5rem;
  padding-top: 4rem;
}

.snap-inline {
  scroll-snap-type: inline mandatory;
  scroll-padding-inline: 1rem;
}

.testimonial-img {
  position: absolute;
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  object-fit: cover;
  margin-top: 1rem;
  top: -12px;
  border: 0.5rem solid var(--bg);
}

.testimonial > figcaption {
  font-weight: bold;
}

.with-us {
  color: rgb(160, 160, 160);
}

/* featured blog section */

.featured-blog-section {
  padding-block: 1rem;
  background-color: var(--bg);
  margin-bottom: -2px;
}

.featured-blog-section h2 {
  text-align: center;
  color: var(--emphtext);
}

.featured-blog-content {
  margin-top: 2rem;
  padding-inline: 1rem;
}

.featured-article {
  display: flex;
  flex-direction: column;
  margin-block: 1rem;
}

.featured-img {
  aspect-ratio: 16/9;
  object-fit: cover;
}

@media (min-width: 64rem) {
  .featured-article {
    flex-direction: row-reverse;
  }
  .featured-img {
    aspect-ratio: 1;
    width: 500px;
    height: 500px;
  }
}

.article-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.5rem;
  background-color: var(--element);
  color: var(--normaltext);
  padding: 2rem 1.5rem 2rem 1.5rem;
}

.article-title-a {
  color: var(--emphtext);
  text-decoration: none;
}

.article-text h3 {
  color: var(--emphtext);
  text-decoration: none;
}

.article-author-section {
  display: flex;
  align-items: center;
}

.article-author-section img {
  border-radius: 50%;
  margin-right: 1rem;
}

.author-name {
  font-weight: 500;
}

/* footer section */
.footer-section {
  background-color: black;
  margin-top: 2rem;
  color: var(--normaltext);
  padding: 2rem 1rem 2rem 1rem;
}

.footer-section-content {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 2rem;
  text-align: center;
  margin-bottom: 2rem;
}

.footer-h {
  color: var(--emphtext);
  margin-bottom: 0.75rem;
  font-weight: 500;
}

.footer-list {
  padding: 0;
  margin: 0;
}

.footer-list-item-a {
  text-decoration: none;
  color: var(--normaltext);
}

.footer-list-item-a:visited {
  color: var(--normaltext);
}

.media-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.media-items {
  padding-inline: 0.75rem;
}

.footer-legal {
  text-align: center;
}

hr {
  border: none;
  background-color: var(--accent);
  height: 1px;
}

@media (min-width: 48rem) {
  .footer-section-content {
    grid-template-columns: repeat(3, 1fr);
  }
  .footer-informations,
  .footer-links,
  .footer-media {
    padding-inline: 1.5rem;
  }
}

.footer-list-item,
.footer-list-item-a {
  padding-bottom: 0.375rem;
}
