---
layout: base.njk
permalink: /blog/ljetni-turnir-2023/index.html
title: "Ljetni turnir Škole šaha"
description: "Povodom završetka ovogodišnje Škole šaha i početka ljetne stanke, organizirali smo turnir polaznika Škole. Turniru se odazvalo čak 25 djece, čime smo u potpunosti popunili kapacit naših klupskih prostorija."
keywords: ""
---
<!-- Archived article retained at its original URL. -->
<head>
  <link rel="stylesheet" href="/css/article.css">
</head>


    <main aria-labelledby="chess-article-title" id="main-content"></main>
        <div class="section">
            <div class="max-width-wrapper">
            <div class="article-container">
                <article>
            
                    <div class="title-container">
                      <h1 id="chess-article-title" class="fs-700 ff-sans"> Ljetni turnir Škole šaha </h1>
                    </div>

                    <div class="article-author-section">
                        <img
                          src="/img/autor_bruno.webp"
                          width="48"
                          height="48"
                          draggable="false"
                          alt="  "
                        />
                        <p>
                          Piše <span class="author-name"> Bruno Pavčević </span>,
                          <time datetime="20 Jun 2023"> 20 Jun 2023 </time>
                        </p>
                    </div>

                        <img loading="lazy" src=" /img/ljetni_turnir.webp " alt="">
                
                 <p>Povodom završetka ovogodišnje Škole šaha i početka ljetne stanke, organizirali smo turnir polaznika Škole. Turniru se odazvalo čak 25 djece, čime smo u potpunosti popunili kapacit naših klupskih prostorija. Nakon 7 kola napete borbe, 1. mjesto sa uvjerljivih 6.5 bodova, osvojio je Marko Majerić. Sa 5 bodova na diobi 2. - 6. mjesta našli su se Noa Kaurić, Borna Mihoković, Ljudevit Miliša, Ivano Rumen i Danijel Kovačić. Prema dodatnim kriterijama 2. mjesto pripalo je Noi, a 3. Borni.</p>
<p>Za najbolje smo osigurali medalje, a za sve koji su se odazvali turniru mali poklončić. Izuzetno nam je drago vidjeti napredak polaznika naše Škole šaha, da ostvaraju prve pobjede i rejting bodove.</p>
<p>Zahvaljujemo svim roditeljima polaznika na potpori i trenerima Škole šaha Bruni Erendi i Matiji Zadravcu na organizaciji.</p>

                
                </article>
            </div>
            </div>
        </div>
    </main>