---
layout: base.njk
permalink: /blog/zimski-turnir-2023/index.html
title: "Zimski turnir Škole šaha"
description: "Povodom zimskih praznika i početka zimske stanke, organizirali smo turnir polaznika Škole. Ova godina ostat će upisana kao nauspješnija u povijesti Škole šaha. Od napretka naših polaznika do osvojenih rejting bodova i turnira, polaznici su nas oduševali na svim poljima."
keywords: ""
---
<!-- Archived article retained at its original URL. -->
<head>
  <link rel="stylesheet" href="/css/article.css">
</head>


    <main aria-labelledby="chess-article-title" id="main-content"></main>
        <div class="section">
            <div class="max-width-wrapper">
            <div class="article-container">
                <article>
            
                    <div class="title-container">
                      <h1 id="chess-article-title" class="fs-700 ff-sans"> Zimski turnir Škole šaha </h1>
                    </div>

                    <div class="article-author-section">
                        <img
                          src="/img/autor_bruno.webp"
                          width="48"
                          height="48"
                          draggable="false"
                          alt="  "
                        />
                        <p>
                          Piše <span class="author-name"> Bruno Pavčević </span>,
                          <time datetime="10 Dec 2023"> 10 Dec 2023 </time>
                        </p>
                    </div>

                        <img loading="lazy" src=" /img/zimski_turnir-1.webp " alt="">
                
                 <p>Povodom zimskih praznika i početka zimske stanke, organizirali smo turnir polaznika Škole. Turniru se odazvalo čak 23 djece, čime smo u potpunosti popunili kapacit naših klupskih prostorija. Nakon 7 kola napete borbe, 1. mjesto sa uvjerljivih 6.5 bodova, osvojio je Noa Kaurić. Na diobi 2. mjesta, s osvojenih 5.5 bodova, našli su se Hrvoje Šoštarić i Dominik Vražić. Prema dodatnim kriterijima, Hrvoje je osvojio 2. mjesto, dok je 3. mjesto pripalo Dominiku.
Kao i uvijek, za najuspješnije smo osigurali medalje, a za sve koji su se odazvali na turnir mali poklon paket.</p>
<p>Izuzetno nam je drago vidjeti napredak polaznika naše Škole šaha, te da ostvaraju prve pobjede i rejting bodove. Ova godina ostat će upisana kao nauspješnija u povijesti Škole šaha. Od napretka naših polaznika do osvojenih rejting bodova i turnira, polaznici su nas oduševali na svim poljima.</p>
<p>Zahvljaujemo svim roditeljima polaznika na potpori u radu i poduzeću Končar na dugogodišnjem sponzorstvu i potpori. Također, veliko hvala našim trenerima Škole šaha na organizaciji samog turnira, te stalnom radu s našim najmlađim članovima.</p>

                
                </article>
            </div>
            </div>
        </div>
    </main>