---
title: 'Šah klub Končar'
layout: 'base.njk'
---

<head>
  <link rel="preload stylesheet" href="/css/style.css" as="style" />
  <link rel="prefetch" href="/kontakt/" />
</head>

<!--Main-content-->
<main id="main-content">
  <!--Hero-section-->
  <div class="hero-bg-wrapper">
    <section
      id="hero-section"
      class="hero-section section"
      aria-labelledby="hero-title"
    >
      <div class="max-width-wrapper">
        <div class="hero-content-wrapper">
          <div class="hero-section-content max-width-60ch">
            <h1 id="hero-title" class="fs-800 ff-sans">
              Šah klub <span class="text-emphasize">Končar</span>
            </h1>
            <p class="fs-500">
              Šahovski klub u Zagrebu sa tradicijom dugom preko 75 godina.
              Mjesto za
              <span class="text-emphasize">igrati</span> i
              <span class="text-emphasize">trenirati</span> šah. Započni svoje
              šahovsko putovanje!
            </p>
            <a class="main-button" href="/kontakt/"
              >Pridruži nam se
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16px"
                height="16px"
                viewBox="0 0 330 330"
                xmlns:v="https://vecta.io/nano"
              >
                <path
                  d="M15 180h263.787l-49.394 49.394c-5.858 5.857-5.858 15.355 0 21.213C232.322 253.535 236.161 255 240 255a14.95 14.95 0 0 0 10.606-4.394l75-75c5.858-5.857 5.858-15.355 0-21.213l-75-75c-5.857-5.857-15.355-5.857-21.213 0s-5.858 15.355 0 21.213L278.787 150H15c-8.284 0-15 6.716-15 15s6.716 15 15 15z"
                />
              </svg>
            </a>
          </div>
        </div>
      </div>
    </section>
  </div>
  <!--Club-activities-section-->
  <section
    id="club-activities-section"
    class="club-activities-section section"
    aria-labelledby="club-activities-title"
  >
    <div class="max-width-wrapper">
      <div class="club-activities-section-content">
        <h2 id="club-activities-title" class="fs-700">Aktivnosti u klubu</h2>
        <p class="fs-500 max-width-50ch">
          Kod nas možeš pronaći <a href="/treninzi_za_djecu/">treninge za djecu</a>,
          <a href="/treninzi_za_odrasle/">treninge za odrasle</a>, dječje turnire, turnire za
          rekreativne igrače i turnire za natjecatelje. Tražiš li mjesto za
          odigrati nekoliko partija u opuštenoj atmosferi ili šahovski napredak,
          pronaći ćeš <span class="text-emphasize">svoje mjesto</span> u Šah
          klubu Končar.
        </p>
      </div>
    </div>
  </section>
  <!--Members-section-->
  <section
    id="members-section"
    class="members-section section"
    aria-labelledby="members-title"
  >
    <div class="max-width-wrapper members-container">
      <h2 id="members-title" class="fs-700">Naši članovi u brojkama</h2>
      <div class="members-section-content">
        <div class="counter-container">
          <p class="counter fs-800" data-target="30">30+</p>
          <p class="fs-500">Kadeta</p>
        </div>
        <div class="counter-container">
          <p class="counter fs-800" data-target="25">25+</p>
          <p class="fs-500">Natjecatelja</p>
        </div>
        <div class="counter-container">
          <p class="counter fs-800" data-target="20">20+</p>
          <p class="fs-500">Rekreativaca</p>
        </div>
        <div class="counter-container-bn">
          <p class="counter-bn fs-800" data-target="100">100+</p>
          <p class="fs-500">Ukupno članova</p>
        </div>
      </div>
    </div>
  </section>
  <!--Testimonials-section-->
  <section
    id="testimonials-section"
    class="testimonials-section section"
    aria-labelledby="testimonials-title"
  >
    <div class="max-width-wrapper">
      <div class="testimonials-section-content">
        <h2 id="testimonials-title" class="fs-700">Iskustva naših članova</h2>
        <div class="testimonials-container snap-inline">
          <figure class="testimonial">
            <img
              src="https://picsum.photos/200"
              class="testimonial-img"
              draggable="false"
              alt=""
            />
            <blockquote>
              <p class="fs-400 max-width-50ch">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                Beatae, expedita sunt fugiat magni laudantium, eum vero eius
                ipsam, unde autem aliquid perspiciatis distinctio quaerat atque
                exercitationem temporibus alias dolor corporis totam voluptas.
                Error illum asperiores repellendus repellat quod incidunt
                voluptatum enim a maiores rerum, laudantium earum. Nulla
                perferendis quidem laboriosam molestiae velit, ut ipsam ipsa
                enim at magnam minus adipisci. Voluptatum, blanditiis excepturi?
                Nostrum tempora exercitationem eius harum deleniti aspernatur.
              </p>
            </blockquote>
            <figcaption class="fs-300 ff-sans">
              Bruno, student ekonomije
            </figcaption>
            <p class="with-us">— Sa nama od 2020.</p>
          </figure>
          <figure class="testimonial">
            <img
              src="https://picsum.photos/200"
              class="testimonial-img"
              draggable="false"
              alt=""
            />
            <blockquote>
              <p class="fs-400 max-width-50ch">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                Beatae, expedita sunt fugiat magni laudantium, eum vero eius
                ipsam, unde autem aliquid perspiciatis distinctio quaerat atque
                exercitationem temporibus alias dolor corporis totam voluptas.
                Error illum asperiores repellendus repellat quod incidunt
                voluptatum enim a maiores rerum, laudantium earum. Nulla
                perferendis quidem laboriosam molestiae velit, ut ipsam ipsa
                enim at magnam minus adipisci. Voluptatum, blanditiis excepturi?
                Nostrum tempora exercitationem eius harum deleniti aspernatur.
              </p>
            </blockquote>
            <figcaption class="fs-300 ff-sans">
              Bruno, student ekonomije
            </figcaption>
            <p class="with-us">— Sa nama od 2020.</p>
          </figure>
          <figure class="testimonial">
            <img
              src="https://picsum.photos/200"
              class="testimonial-img"
              draggable="false"
              alt=""
            />
            <blockquote>
              <p class="fs-400 max-width-50ch">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                Beatae, expedita sunt fugiat magni laudantium, eum vero eius
                ipsam, unde autem aliquid perspiciatis distinctio quaerat atque
                exercitationem temporibus alias dolor corporis totam voluptas.
                Error illum asperiores repellendus repellat quod incidunt
                voluptatum enim a maiores rerum, laudantium earum. Nulla
                perferendis quidem laboriosam molestiae velit, ut ipsam ipsa
                enim at magnam minus adipisci. Voluptatum, blanditiis excepturi?
                Nostrum tempora exercitationem eius harum deleniti aspernatur.
              </p>
            </blockquote>
            <figcaption class="fs-300 ff-sans">
              Bruno, student ekonomije
            </figcaption>
            <p class="with-us">— Sa nama od 2020.</p>
          </figure>
          <figure class="testimonial">
            <img
              src="https://picsum.photos/200"
              class="testimonial-img"
              draggable="false"
              alt=""
            />
            <blockquote>
              <p class="fs-400 max-width-50ch">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                Beatae, expedita sunt fugiat magni laudantium, eum vero eius
                ipsam, unde autem aliquid perspiciatis distinctio quaerat atque
                exercitationem temporibus alias dolor corporis totam voluptas.
                Error illum asperiores repellendus repellat quod incidunt
                voluptatum enim a maiores rerum, laudantium earum. Nulla
                perferendis quidem laboriosam molestiae velit, ut ipsam ipsa
                enim at magnam minus adipisci. Voluptatum, blanditiis excepturi?
                Nostrum tempora exercitationem eius harum deleniti aspernatur.
              </p>
            </blockquote>
            <figcaption class="fs-300 ff-sans">
              Bruno, student ekonomije
            </figcaption>
            <p class="with-us">— Sa nama od 2020.</p>
          </figure>
          <figure class="testimonial">
            <img
              src="https://picsum.photos/200"
              class="testimonial-img"
              draggable="false"
              alt=""
            />
            <blockquote>
              <p class="fs-400 max-width-50ch">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                Beatae, expedita sunt fugiat magni laudantium, eum vero eius
                ipsam, unde autem aliquid perspiciatis distinctio quaerat atque
                exercitationem temporibus alias dolor corporis totam voluptas.
                Error illum asperiores repellendus repellat quod incidunt
                voluptatum enim a maiores rerum, laudantium earum. Nulla
                perferendis quidem laboriosam molestiae velit, ut ipsam ipsa
                enim at magnam minus adipisci. Voluptatum, blanditiis excepturi?
                Nostrum tempora exercitationem eius harum deleniti aspernatur.
              </p>
            </blockquote>
            <figcaption class="fs-300 ff-sans">
              Bruno, student ekonomije
            </figcaption>
            <p class="with-us">— Sa nama od 2020.</p>
          </figure>
        </div>
      </div>
    </div>
  </section>
  <!--Featured-blog-section-->
  <section
    id="featured-blog"
    class="featured-blog-section section"
    aria-labelledby="featured-title"
  >
    <div class="max-width-wrapper">
      <h2 id="featured-title" class="fs-700">Najnovije s našeg bloga</h2>
      <!--Featured-blog-section-->
      <section
      id="featured-blog"
      class="featured-blog-section section"
      aria-labelledby="featured-title"
    >
      <div class="max-width-wrapper">
        

          {%- for post in collections.featured | reverse -%}

              {% include 'article-snippet.njk' %}

          {%- endfor -%}
    </div>
  </section>
</main>

<!--connected with members section-->
<script src="/numbers.js"></script>
