---
title: 'O nama | Šah klub Končar'
layout: 'base.njk'
---
  
  <head>
    <link rel="stylesheet" href="/css/o_nama.css" />
  </head>


    <main id="main-content" class="main-section" aria-labelledby="about-title">
      <div class="section">
        <div class="max-width-wrapper">
          <div class="content-holder">
            <div class="title-container">
              <h1 id="about-title" class="fs-700 ff-sans">O Šah klubu Končar</h1>
              <hr>
            </div>


            <section aria-label="club-today" class="club-today">
              <div class="club-today-container">
                <div class="club-today-text">
                  <h2 id="club-today" class="fs-700">Klub danas</h2>
                  <p>
                  Šah klub Končar djeluje u obliku udruge i neprofitne organziacije. </p>
                  <p> Klub se aktivno natječe u kadetskim i seniorskim natjecanjima. Najznačajniji rezultati u novijoj povijesti kluba su višestruko osvajanje kupa grada Zagreba u seniorskoj konkurenciji i pojedinačni rezultati naših kadeta na prvenstvima Hrvatske- prvo mjesto u kategoriji do 8 godina i četvrto mjesto u kategoriji do 9 godina.</p>
                  <p> Najveće napore ulažemo u organizaciju aktivnosti u klubu: <a href="/treninzi_za_djecu/">treninge za djecu i mlade</a> , <a href="/treninzi_za_odrasle/">treninge za odrasle</a> , turnira za natjecatelje, rekreativnih otvorenih turnira i turnira za djecu. Sve naše članove potičemo na igranje šahovskih turnira u čemu im pružamo svu potrebnu podršku i pomoć.</p> 
                  <p> Zahvaljujemo našem <a href="">sponzoru</a> Končar Elektroindustrija d.d. bez kojeg ne bi bilo moguće kontinuirano održavati navedene aktivnosti.</p>
                
                </div>
                <div class="club-today-picture-container">
                  <picture>
                      <source
                          media="(max-width: 767px)"
                          sizes="(max-width: 720px) 100vw, 720px"
                          srcset="
                              /img/klupske-prostorije_jkuoci_ar_1_1,c_fill,g_auto__c_scale,w_200.webp 200w,
                              /img/klupske-prostorije_jkuoci_ar_1_1,c_fill,g_auto__c_scale,w_402.webp 402w,
                              /img/klupske-prostorije_jkuoci_ar_1_1,c_fill,g_auto__c_scale,w_584.webp 584w,
                              /img/klupske-prostorije_jkuoci_ar_1_1,c_fill,g_auto__c_scale,w_684.webp 684w,
                              /img/klupske-prostorije_jkuoci_ar_1_1,c_fill,g_auto__c_scale,w_720.webp 720w">
                      <source
                          media="(min-width: 768px) and (max-width: 991px)"
                          sizes="(max-width: 960px) 100vw, 960px"
                          srcset="
                              /img/klupske-prostorije_jkuoci_ar_4_3,c_fill,g_auto__c_scale,w_768.webp 768w,
                              /img/klupske-prostorije_jkuoci_ar_4_3,c_fill,g_auto__c_scale,w_833.webp 833w,
                              /img/klupske-prostorije_jkuoci_ar_4_3,c_fill,g_auto__c_scale,w_960.webp 960w">
                      <source
                          media="(min-width: 992px) and (max-width: 1199px)"
                          sizes="(max-width: 960px) 100vw, 960px"
                          srcset="
                              /img/klupske-prostorije_jkuoci_ar_16_9,c_fill,g_auto__c_scale,w_960.webp 960w">
                      <img
                          sizes="(max-width: 1200px) 80vw, 960px"
                          srcset="
                              /img/klupske-prostorije_jkuoci_c_scale,w_960.webp 960w"
                          src="klupske-prostorije_jkuoci_c_scale,w_960.webp"
                          alt="">
                  </picture>
                </div>
              </div>
            

            <section aria-labelledby="Naša misija, vizija i vrijednosti" id="mission-section" class="mvv-section section">
              <div class="max-width-wrapper">
                <div class="mvv-content">
                  <section aria-labelledby="mission-title" class="mvv-container">
                    <img src="/img/rocket-koncar-blue-svg.svg" height="60" width="60" alt="Ikona Rakete u Končar plavoj boji"> 
                    <h3 id="mission-title" class="fs-600">Misija</h3>
                     <p>Svim zainteresiranima pružiti mjesto za igrati i naučiti igrati šah. Obogatiti zagrebački i hrvatski šah. </p>
                  </section>
                  <section aria-labelledby="vision-title" class="mvv-container">
                    <img src="/img/telescope-koncar-blue.svg" height="60" width="60" alt="Ikona teleskopa u Končar plavoj boji"> 
                    <h3 id="vision-title" class="fs-600">Vizija</h3>
                    <p>Kontinuiranim radom unaprijediti klub, te nastaviti bit jedan od najistaknutinih klubova na hrvatskoj šahovskoj sceni.</p>
                  </section>
                  <section aria-labelledby="values-title" class="mvv-container">
                    <img src="/img/handshake-koncar-blue.svg" height="60" width="60" alt="Ikona rukovanje u Končar plavoj boji">
                    <h3 id="values-title" class="fs-600">Vrijednosti</h3>
                    <p> Članovi = klub. Veže nas strast prema šahu, dobrobit svih članova, otvorenost prema novome i razvoj kluba. </p>
                  </section>
                </div>
              </div>
            </section>
          </section>
            <section aria-label="club-history" class="club-history">
              <div class="club-history-container">
                <div class="club-history-text">
                  <h2 id="club-history" class="fs-700">Povijest kluba</h2>
                  <p> Šah klub Končar osnovan je 1945., a službeno registriran 25. siječnja 1949. godine. Kroz svoju bogatu povijest osvojio je brojna odličja s raznih natjecanja poput prvih mjesta na Radničkim prvenstvima Jugoslavije, Kupovima maršala Tita, Šahovskim festivalima i mnogim drugim. Osim bogate natjecateljske povijesti, krasi ga organizacija brojnih šahovskih manifestacijama na kojima su prisustvovali hrvatski i svjetski šahovski prvaci Vasily Smyslov i Mikhail Tal.</p>

                  <p> Također, klub ima dugu povijest treniranja mlađih naraštaja i suradnja sa odgojno-obrazovnim institucijama te društvenom zajednicom. Brojni šahovski majstori - osvajači kadetskih i juniorskih prvenstva, liga i kupova potekli su upravo iz Šah kluba Končar. Danas, ti isti majstori su ugledni akademski građani i svoje znanje šire novim generacijama. Takav ishod nas ni ne čudi jer je kvalitetan rad s mladima oduvijek bio temelj kluba. Cilj takvog načina rada je stvaranje odgovorne i društveno aktivne osobe koja doprinosi zajednici.</p>

                </div>
                <div class="club-history-picture-container">
                  <picture>
                      <source
                          media="(max-width: 767px)"
                          sizes="(max-width: 900px) 100vw, 900px"
                          srcset="
                              /img/klupske_prostorije_stara_wveja8_ar_1_1,c_fill,g_auto__c_scale,w_200.webp 200w,
                              /img/klupske_prostorije_stara_wveja8_ar_1_1,c_fill,g_auto__c_scale,w_683.webp 683w,
                              /img/klupske_prostorije_stara_wveja8_ar_1_1,c_fill,g_auto__c_scale,w_882.webp 882w,
                              /img/klupske_prostorije_stara_wveja8_ar_1_1,c_fill,g_auto__c_scale,w_899.webp 899w,
                              /img/klupske_prostorije_stara_wveja8_ar_1_1,c_fill,g_auto__c_scale,w_900.webp 900w">
                      <source
                          media="(min-width: 768px) and (max-width: 991px)"
                          sizes="(max-width: 1200px) 100vw, 1200px"
                          srcset="
                              /img/klupske_prostorije_stara_wveja8_ar_4_3,c_fill,g_auto__c_scale,w_768.webp 768w,
                              /img/klupske_prostorije_stara_wveja8_ar_4_3,c_fill,g_auto__c_scale,w_996.webp 996w,
                              /img/klupske_prostorije_stara_wveja8_ar_4_3,c_fill,g_auto__c_scale,w_1177.webp 1177w,
                              /img/klupske_prostorije_stara_wveja8_ar_4_3,c_fill,g_auto__c_scale,w_1199.webp 1199w,
                              /img/klupske_prostorije_stara_wveja8_ar_4_3,c_fill,g_auto__c_scale,w_1200.webp 1200w">
                      <source
                          media="(min-width: 992px) and (max-width: 1199px)"
                          sizes="(max-width: 1200px) 100vw, 1200px"
                          srcset="
                              /img/klupske_prostorije_stara_wveja8_ar_16_9,c_fill,g_auto__c_scale,w_992.webp 992w,
                              /img/klupske_prostorije_stara_wveja8_ar_16_9,c_fill,g_auto__c_scale,w_1191.webp 1191w,
                              /img/klupske_prostorije_stara_wveja8_ar_16_9,c_fill,g_auto__c_scale,w_1200.webp 1200w">
                      <img 
                          sizes="(max-width: 1500px) 80vw, 1200px"
                          loading="lazy"
                          srcset="
                              /img/klupske_prostorije_stara_wveja8_c_scale,w_960.webp 960w,
                              /img/klupske_prostorije_stara_wveja8_c_scale,w_1183.webp 1183w,
                              /img/klupske_prostorije_stara_wveja8_c_scale,w_1199.webp 1199w,
                              /img/klupske_prostorije_stara_wveja8_c_scale,w_1200.webp 1200w"
                          src="klupske_prostorije_stara_wveja8_c_scale,w_1200.webp"
                          alt="Prostorije kluba u 60-im godinama. Zaposlenici Končara igraju šah. U klubu je živahna atmosfera.">
                  </picture>
                </div>
              </div>
            </section>
            
          </div>
        </div>
      </div>
    </main>

