---
title: 'Treninzi za odrasle | Šah klub Končar'
layout: 'base.njk'
description: 'Šahovski treninzi za odrasle namijenjeni su svima koji se žele baviti šahom kao hobijem. Pridruži nam se, zabavi se, odigraj koju partiju i nauči nešto.'
keywords: 'Šah, Zagreb, igrati šah, trenirati šah, šah klub, šahovski klub, šahovski klub Zagreb, škola šaha'
---

  
  <head>
    <link rel="stylesheet" href="/css/treninzi_za_djecu.css" />
    <link rel="prefetch" href="/kontakt/" />
  </head>


    <main aria-labelledby="chess-training-title" id="main-content">
      <div class="section">
        <div class="max-width-wrapper">
          <div class="title-container">
            <h1 id="chess-training-title" class="fs-700 ff-sans">Šahovski treninzi za odrasle</h1>
            <hr>
          </div>
          
          <div class="chess-training-wrapper">
          <div class="chess-training-container max-width-60ch ">
            <section aria-labelledby="why-train-chess-title">
              <h2 id="why-train-chess-title" class="fs-600">O treninzima</h2>
              <p>
                Rekreativni treninzi za odrasle namijenjeni su svima koji žele poboljšati svoje šahovsko znanje i pronači društvo s kojim mogu odigrati nekoliko partija šaha. Naši članovi najčešće su studenti i mlađi zaposleni ljudi, koji su počeli igrati šah u tinejdžerskoj ili odrasloj dobi. 
              </p>
            </section>
            <section aria-labelledby="way-of-coaching">
              <h2 id="way-of-coaching" class="fs-600">Izgled treninga</h2>
              <p>
                Trening je podijeljen na dva dijela. Prvi dio treninga radimo na nekom dijelu šaha na primjer otvaranja, središnjice, završnice, analiza partija i slično. U drugom djelu članovi međusobno igraju slobodne partije, uz povratne informacije trenera i drugih članova. Svakom našem članu pristupamo individualno, te mu pomažemo u njegovom šahovskom napretku. </p>
            </section>
            <section aria-labelledby="coaches">
              <h2 id="coaches" class="fs-600">Naši treneri</h2>
              <p>Svi naši treneri završili su edukaciju Hrvatske Olimpijske Akademije za šahovske instruktore. Imaju bogato igračko iskustvo na nacionalnoj i internacionalnoj razini, te višegodišnje iskustvo u podučavanju mladih šahu.</p>
            </section>
            <div>
              <a class="main-button" href="/kontakt/"
                  >Pridruži nam se
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="16px"
                    height="16px"
                    viewBox="0 0 330 330"
                    xmlns:v="https://vecta.io/nano"
                  >
                    <path
                      d="M15 180h263.787l-49.394 49.394c-5.858 5.857-5.858 15.355 0 21.213C232.322 253.535 236.161 255 240 255a14.95 14.95 0 0 0 10.606-4.394l75-75c5.858-5.857 5.858-15.355 0-21.213l-75-75c-5.857-5.857-15.355-5.857-21.213 0s-5.858 15.355 0 21.213L278.787 150H15c-8.284 0-15 6.716-15 15s6.716 15 15 15z"
                    />
                  </svg>
              </a>
            </div>
          </div>
          </div>
            <div class="faq-wrapper ">
              <div class="faq-content">
                <section aria-labelledby="faq-title">
                  <h2 id="faq-title" class="fs-600 faq-title">Često postavljena pitanja</h2>
                  

                    <details class="detail">
                      <summary>Gdje se održavaju treninzi?</summary>
                      <p>Treninzi se održavaju uživo u klupskim prostorijama na adresi Fallerovo Šetalište 22 - žuta zgrada iza Končar nebodera. </p>
                    </details>

                    <details class="detail">
                      <summary>U kojim terminima se održavaju treninzi?</summary>
                      <p>  Treninzi se održavaju svakim četvrtkom od 19:30 do 21:00. Molimo Vas da nas <a href="/kontakt/">ovdje </a> kontaktirate prije Vašeg dolaska. </p>
                    </details>

                    <details class="detail">
                      <summary>Je li nužno šahovsko predznanje za pohađanje treninga?</summary>
                      <p>Večina naših polaznika dolazi s određenom dozom predznanja, iako to nije uvjet. Treninzi će uvijek biti prilagođeni da ga svi mogu pratiti. Također, trener će Vam dati smjernice u kojem smjeru da razvijate svoje znanje i potrebne materijale. Interaktivne lekcije možete pronači <a href="https://lichess.org/learn#/" target="_blank">na besplatnoj, open-source platformi Lichess</a>. </p>
                    </details>

                    <details class="detail">
                      <summary>Koliko iznosi mjesečna članarina?</summary>
                      <p>Mjesečna članarina iznosi 40€. Članarina se uplačuje na račun kluba IBAN: HR9623900011198000232 . U cijenu mjesečne klupske članarine, uključene su sve aktivnosti u klubu i godišnja registracija pri Hrvatskom šahovskom savezu za sve natjecatelje. Također, klub potiče rekreativne igrače da se natječu na šahovskim turnirima te im u tu svrhu pomažemo putem plačanja kotizacija za određene turnire.  </p>
                    </details>
                  
                </div>
              </section>
            </div>
        </div>
      </div>
    </main>

